{% extends 'base.html' %}

{% block title %}
	Registro
{% endblock %}

{% block js %}
	<link rel="stylesheet" href="http://code.jquery.com/ui/1.8.18/themes/base/jquery-ui.css" type="text/css" media="all" />
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js" type="text/javascript">
    </script> <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.16/jquery-ui.min.js" type="text/javascript"></script>
	<script type="text/javascript">
        $(function() {
            $("#search").autocomplete({
                source: "/api/get_computistas/",
                minLength: 2,
            });
        });
    </script>
{% endblock %}	


{% block contenedor %}
	<div class="contenedor">

		<header>
			<img src="{{ STATIC_URL }}img/tittle.png">
		</header>

 		<section class="log_tittle">				
			
			<form action="./signup" method="post">
              {% csrf_token %}
              {% for field in form %}
              		{% if field.name == "Computista" %}
              		<div class="ui-widget">
                    <input id="search" type="text" name="{{field.name}}" placeholder="Carnet (Ej: 00-00000)">
                	</div>
                    {% else %}
                    <input type="password" name="{{field.name}}" placeholder="{{field.label}} ">
                    {% endif %}
                    {{ field.errors }}
              {% endfor %}
              {{ mensaje }}
				<button type="submit" class="login_input">Registrarme<span class="icon-keyboard-arrow-right"></span></button>
			<label class="text_singup">
    			ó <a href="/" class="selected">Inicia Sesi&oacute;n<span class="icon-keyboard-arrow-right selected"></span> </a>
			</label>
			</form>
			
		</section>

		<aside class="pequeno">
			<p>
				Logeate y vota en el Compushow
			</p>
		</aside>

		<aside>
			<p>
					Registrate pa que puedas votar en esta vaina
					<br>
					<br>
					Recuerda que debes ser estudiante, profesor o preparador de la carrera para poder votar
					<br>
					<br>
					Cualquier problema avisa a usbceic@gmail.com


			</p>
		</aside>

{% endblock %}
