/* GENERAL */
	* {
		margin:0;
		padding:0;
		-webkit-box-sizing:border-box;
		-moz-box-sizing:border-box;
		box-sizing:border-box;
	}

	body {
		background: #FFFFFA;
/*		background-image: url("./LAS-VEGAS.jpg");
*/		background-color: rgba(0,0,0,1);
		background-size: 100%;
		background-repeat: no-repeat;
		background-position: top;
		font-family: 'Quattrocento Sans', sans-serif;
	}

	.fondo{
		-webkit-filter: blur(2px); -moz-filter: blur(2px); -o-filter: blur(2px); -ms-filter: blur(2px); filter: blur(2px);
		z-index: -10;
		position: fixed;
		left: 0;
		right: 0;		
		width: 100%;
	}

	a{
		text-decoration: none;
		color: #fff;
	}

	a:hover{
		color: #fff;
	}

	a span{
		font-size: 1em;
		color: #fff;

	}

	.opaco{
		filter: alpha(opacity=50); 
		opacity: 0.55;
		background-repeat: repeat;
		top: 0px;
		position: absolute;
		z-index: -100;
		width: 100%;
		height: 100%;
	}

	a span:hover{
		background-color: #8B0404;
	}

	.sub{
		display: none;
	}

/* HEADER */

	header {
		width: 100%;
	}

	header nav{
		width: 100%;
		max-width: 1000px;
		margin: auto auto;
		padding: 15px;
		height: calc(100% - 80px);
		color: #fff;
		text-align: right;	
	}

	header nav ul{
		list-style: none;
	}

	
	header nav ul li{
		display: inline-block;
		position: relative;
	}

	header nav ul li:hover{
		background-color: #8B0404;

	}

	header nav ul li a{
		padding: 10px;
		display: block;
	}

	header img{
		width: 90%;
	}

	.menu_bar{
		display: none;
		background-image: url("black.jpg");
			}

	header .peque{
		width: 40%;
		float: left;
	}

	/* SUBMENUES */
		header nav ul li .hijos{
			display: none;
			position: absolute;
			width: 200%;
			z-index: 1000;
		}

		header nav ul li:hover .hijos{
			display: none;
		}

		.hijos{
			background-color: rgba(255,255,255,0.5);																																																																																																																																																																																												
		}

		header nav ul li .hijos li{
			display: block;
			overflow: hidden;
			border-bottom: 1px solid rgba(255,255,255,.5);
		}

		header nav ul li .hijos li a{
			display: block;
		}

		header nav ul li .caret{
			position: relative;
			top: 3px;
			margin-left: 10px;
			margin-right: 0px;
		}

	/* BOTONES MENU */
		.bt-menu{
			margin:10px 10px;
			padding: 4px;
			border-radius: 15px;
			font-weight: bold;
			color: #fff;
			
		}

		.bt-menu:hover{
			background-color: #8B0404;
		}

		.caret{
			font-size: 1.5em;
			margin: 0em 0em;
		}

		.bt-nominaciones{
			display: none;
		}

/* CUERPO */

	/* GENERAL */

		.contenedor{
			width: 80%;
			max-width: 1000px;
			margin: 0 auto;
			overflow: hidden;
			padding: 0;
		}

	/* LOGIN */

		.log_tittle{
			top: 0;
			width: 70%;
			float: right;
			padding: 8.5em;
			margin: 0px auto;


			box-sizing:border-box;
			
			background-size: 100%;
			background-repeat: no-repeat;
			background-position: center;
			background-image: url("./bg-login.png");
		}

		aside{
			top: 50%;
			width: 30%;
			color: #fff;
			float: left;
			padding: 10px;
			box-sizing:border-box;
			text-align: justify;
		}

	/* NOMINACION */

		.inicio{
			overflow: visible;
		}

		.webo {
			float: left;
			z-index: 3;
			position: absolute;
			display: inline-block;
		}

		.nominacion{
			width: 73%;
			padding: 0px;
			margin: 0px auto;
			overflow:hidden;
			text-align: center;
			float: right;
		}

		.nominar{
			width: 100%;
			color: #fff;
			box-sizing:border-box;
			padding: 0px;
			margin: auto 0px;
		}

		.nominado{
			width: 50%;
			margin: 1px auto;
			position: relative;
		}

		.pequeno{
			display: none;
		}

		/* NOMINACIONES */

			.nominaciones{
				position: absolute;
				padding: 1em;
				width: 27%;
				margin: 0px auto;
				overflow: hidden;
				text-align: left;
				list-style: none;			
				background-color: rgba(0,0,0, 0.3);
			}

			.titulo-side{
				color: #fff;
				font-size: 1.7em;
			}

			.selected{
				color: #053895;
			}
				
			.nominaciones li:hover{
				background-color: rgba(0,0,0,0.6);
				color: rgba(255,255,255);
			}
		/* NAVEGA */

			.navega{
				width: 100%;
				margin: 0px auto 10px;		
				font-size: 2em;
				overflow: hidden;
				color: #fff;
				text-align: center;
			}

			.navega .b_izq{
				float: left;
			}

			.b_der:hover{
				background-color: #8B0404;
			}

			.b_izq:hover{
				background-color: #8B0404;
			}
			
			.navega .b_der{
				float: right;
			}

			.navega h1{
				margin: 10px auto 0px;
			}

		/* DESC. NOMINADOS */

			.desc_nominacion{
				padding: 0;
				width: 100%;
				box-sizing:border-box;
				margin: 0px auto 5px ;
				overflow:hidden;
				position: static;
			}

			.desc_nominacion p{
				padding: 5px;
			}


			.circular img{
				overflow: hidden;
				display: block;
				height: 10em;
				width: 10em;
				-webkit-border-radius: 100%;
				-moz-border-radius: 100%;
				border-radius: 100%;
				display: block;
				margin: 0px auto;
				max-width: 150%;
			}

		/* BOTONES NOMINAR */

			.boton{
				width: 50%;
				background-color: #8B0404;
				text-align: right;
				padding: 0.25em;
				margin: 0px auto;
				border: none;
				box-shadow: none;
				text-transform: uppercase;
				max-height: 2em;

			}

			.boton-file{
				position: relative;
				display: block;
				background-color: #8B0404;
				width: 100%;
				z-index: 0;
				height: 1.5em;
				padding: 1% 1.6em 0 1.6em;
				overflow: hidden;
				margin: 0.1em;
			}

			.nominar_button{
				display: inline-block;
				width: 100%;
				z-index: 3;
				max-height: 2em;
				background-color: #053895;
				padding: 1% 1.6em 0.1em ;
				border: none;
				outline: medium none;
				text-transform: uppercase;
				color: #fff;
				text-align: right;
				overflow: hidden;
				margin: 0.1em auto;
			}

			.file_text{
				display: block;
				overflow: hidden;
				left: 0%;
				width: 100%;
				z-index: 0;
				height: 1.5em;
				background-color: #525252;
				padding: 1% 1.6em 0 1.6em;
				margin: 0.1em;
				text-transform: uppercase;
			}

			.boton a{
				color: #fff;
			}

			.boton a span{
				background-color: #8B0404;
			}

			#id_imagen{
				top:0;
				left:0;
				display: inline-block;
				position: absolute;
				padding: 0;
				opacity: 0;
				width: 100%;
			}

/*			#id_nominado{
				display: inline-block;
				position: absolute;
				left: 0%;
				width: 100%;
				z-index: 3;
				height: 1.5em;
				background-color: #525252;
				padding: 1% 1.6em 1% 0.5em;
				border: none;
				outline: medium none;
				text-transform: uppercase;
			}*/

			.nominado p{
				float: left;
				color: #fff;
			}

	/* VOTACION */
		.Votacion{
			color: #fff;
			float: right;
			width: 73%;
			position: relative;
		}	

		.montado{
			position: absolute;
			overflow: hidden;
			text-align: left;
			list-style: none;
			background-color: rgba(0,0,0, 0.3);
		}

		.titulo_votar h1{
			font-size: 3em;
		}

		.nominados_v{
			width: 73%;
			float: right;
			color: #fff;
		}

		.nominado{
			overflow: hidden;
			text-align: center;
		}

		.circular_votar{
			overflow: hidden;
			height: 10em;
			width: 10em;
			-webkit-border-radius: 100%;
			-moz-border-radius: 100%;
			border-radius: 100%;
			max-width: 150%;
			float: left;
			padding: 1em;
		}


		input[type="radio"]{
			display: none;
		}

		input[type="radio"]:+label{
			background-color: #e1e1e1;
		}

		input[type="radio"]:checked	+ label{
			display: inline-block;
			background-color: rgba(0,0,0,.5);
			border-radius: 1em;
		}

	.votar_input{
		display: inline-block;
		width: 30%;
		z-index: 3;
		max-height: 2em;
		background-color: #053895;
		padding: 1% 1.6em 0.1em ;
		border: none;
		outline: medium none;
		text-transform: uppercase;
		color: #fff;
		text-align: right;
		overflow: hidden;
		margin: 0em auto;
		float: right;
	}

/* FORM */

	form{	
		width: 100%;
		margin: 0px auto;
		overflow: hidden;
		position: relative;
		top: 1em;
		text-align: center;
	}

	form input{
		display: inline-block;
		width: 45%;
		margin: 0.2em auto;
		padding: 0 1em;
		color: #9d6b1a;
		border: none;
	}


	.login_input{
		display: inline-block;
		width: 95%;
		z-index: 3;
		max-height: 2em;
		background-color: #053895;
		padding: 1% 1.6em 0.1em ;
		border: none;
		outline: medium none;
		text-transform: uppercase;
		color: #fff;
		text-align: right;
		overflow: hidden;
		margin: 0.1em auto;
		font-size: 100%;
	}

	form a span{
		color: rgb(139, 4, 4);
	}

	form a{
		margin: 0em auto;
	}

	form a span:hover{
		color: #fff;
		background:transparent;
	}

	.text_singup{
		display: inline-block;
		margin: 0em auto;
		float: right;
	}


/* FOOTER */
	footer{
		width: 100%;
		float: left;
		text-align: center;
	}

	.bt-footer {
		border-radius: 0%; 
		-moz-box-shadow: 0px 0px 0px #e4831f;
		-webkit-box-shadow: 0px 0px 0px #e4831f;
		box-shadow: 0px 0px 0px 0px #fff;
		font-weight: bold;
		margin: auto;
		float: none;
		display: inline-block;
		padding: 0.5em;
	}

	.bt-footer:hover {
		background: transparent;
		background-color: #053895;
	}

	footer span:hover{
		background-color: #053895;
		border-radius: 100%;
	}

/* MEDIA 800 */

	@media screen and (max-width:800px){

		/* CUERPO */
			body{
				background-position: top;
				padding-top: 80px;
			}

			.log_tittle{
				width: 100%;
				padding: 20%;
			}

			.nominacion{
				width: 100%;
			}

			.inicio{
				width: 100%;
				margin: 10px auto;
			}

			aside{
				display: none;

			}

			.pequeno{
				text-align: center;
				width: 100%;
				position: relative;
				display: block;
				z-index: -100;
			}

		/* FORM */
			form{
				width: 100%;
				padding: 0em 2em;
			}

			.login_input{
				left: 0%;
				top: 1em;
			}

			form input{	
				top: 1em;
				width: 45%;	
			}

			form .boton{
				display: block;
				margin: 0.1em auto;
				width: 90%;
			}

		/* HEADER */

			header img{
				width: 100%;
			}

			header nav{
				width: 80%;
				position: fixed;
				height: calc(100%-80px);
				margin: 0;
				left: -100%;
				overflow: scroll;
				z-index: 100;
				text-align: left;	
			}

			header nav ul li{
				display: block;
				float: none;
				border-bottom:1px solid rgba(255,2550,255,.5); 
			}

			header nav ul li a{
				display: block;
			}

			header nav ul li .hijos{
				width: 100%;
				position: relative;
			}

			header nav ul li .hijos a{
				margin-left: 20px;
			}


			.menu_bar{
		background-image: url("black.jpg");

				display: block;
				width: 100%;
				position: fixed;
				top: 0;
			}

			nav img{
				display: none;
			}

			header nav ul li .hijos{
				width: 80%;
				z-index: 1000;
			}
			
			.bt-menu:hover {
				background: transparent;
			}

			.menu_bar .bt-menu{
				display: block;
				padding: 20px;
				font-weight: bold;
				overflow: hidden;
				font-size: 25px;
				-webkit-box-sizing:border-box;
				-moz-box-sizing:border-box;
				box-sizing:border-box;
			}

			header nav ul li:hover .hijos{
				display: none;
			}

			.menu_bar span{
				float: right;
				font-size: 40px;
			}

			
			.bt-menu{
				border-radius: 0px; 
				-moz-box-shadow: 0px 0px 0px #e4831f;
				-webkit-box-shadow: 0px 0px 0px #e4831f;
				box-shadow: 0px 0px 0px 0px #fff;
				font-weight: bold;
				color: #fff;
				margin: auto;
				float: none;
			}

			.menu_bar a:hover{
				background:	transparent;
			}

			.sub{
				display: block;
			}

			.bt-nominaciones{
				display: block;
			}

		/* NOMINACIONES */
			.nominaciones{
				display: none;
			}

		/* FOOTER */
		
			.nominaciones footer{
				display: block;
			}

		/* VOTACION */

			.Votacion{
				width: 90%;
				margin: auto auto auto auto;
				float: none;
			}

			.montado{
				display: none;
			}


	}	

/* MEDIA 550 */
	@media screen and (max-width: 550px){
		.contenedor{
			width: 100%;
		}

		form{
			top:1.5em;
			width: 100%;
			display: inline-block;
		}

		form input{
			display: inline-block;
			width: 45%;
		}

	}