<!DOCTYPE html>
{% load static %}
<html lang = "en">
<head>
	<meta charset = "UFT-8">
	<title>COMPUSHOW - {% block title %}{% endblock %}</title>

	<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/estilo.css">
	<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/font.css">

	<link href='http://fonts.googleapis.com/css?family=Quattrocento+Sans:400,700' rel='stylesheet' type='text/css'>
	<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">

	<script src="http://code.jquery.com/jquery-latest.js"></script>
	<script src="{{ STATIC_URL }}js/menu.js"></script>
	{% block js %}
	{% endblock %}	
</head>

<body>
	<img class="fondo" src="{{ STATIC_URL }}img/LAS-VEGAS.jpg">

	{% block contenedor %}
	{% endblock %}

		<footer>
			<a href="#" class="bt-footer"><span class="icon-facebook2"></span></a>
			<a href="#" class="bt-footer"><span class="icon-instagram"></span></a>
			<a href="#" class="bt-footer"><span class="icon-twitter"></span></a>
		</footer>
	</div>
</body>