{% extends 'index.html' %}

{% block title %}CompuGordito{% endblock %}

{% block imagen %}
<img src="{{ STATIC_URL }}img/CompuGordito.jpg" >	
{% endblock %}

{% block Nominacion %}
CompuGordito
{% endblock %}

{% block Descripcion %}
Esta nominacion es para ese computista que GORDO. Siempre esta GORDO.
{% endblock %}

{% block anterior %}
"/CompuChill/"
{% endblock %}

{% block siguiente %}
"/CompuProductista/"
{% endblock %}


{% block Botones %}
<input type="text" class="nombre_input" placeholder="Nombre">
<br>
<br>
<div class="boton-file">FOTO:</div> 
<input type="file" class="file_input" name="img" accept="image/*">
<div class="file_text">No has escogido foto</div>
{% endblock %}
