{% extends 'index.html' %}

{% block title %}CompuProductista{% endblock %}

{% block imagen %}
<img src="{{ STATIC_URL }}img/CompuProductista.jpg" >	
{% endblock %}

{% block Nominacion %}
CompuProductista
{% endblock %}

{% block Descripcion %}
Esta nominacion es para ese computista que PRODUCTISTA. Siempre esta PRODUCTISTA.
{% endblock %}

{% block anterior %}
"/CompuGordito/"
{% endblock %}

{% block siguiente %}
"/CompuCartoon/"
{% endblock %}


{% block Botones %}
<input type="text" class="nombre_input" placeholder="Nombre">
<br>
<br>
<div class="boton-file">FOTO:</div> 
<input type="file" class="file_input" name="img" accept="image/*">
<div class="file_text">No has escogido foto</div>
{% endblock %}
