{% extends 'index.html' %}

{% block title %}CompuCuchi{% endblock %}

{% block imagen %}
<img src="{{ STATIC_URL }}img/CompuCuchi.jpg" >	
{% endblock %}

{% block Nominacion %}
CompuCuchi
{% endblock %}

{% block Descripcion %}
Esta nominacion es para ese computista que CUCHI. Siempre esta CUCHI.
{% endblock %}

{% block anterior %}
"/CompuLove/"
{% endblock %}

{% block siguiente %}
"/CompuIntenso/"
{% endblock %}


{% block Botones %}
<input type="text" class="nombre_input" placeholder="Nombre 1">
<br>
<br>
<div class="boton-file">FOTO:</div> 
<input type="file" class="file_input" name="img" accept="image/*">
<div class="file_text">No has escogido foto</div>
{% endblock %}
