<!DOCTYPE html>
{% load static %}
<html lang = "en">
<head>
	<meta charset = "UFT-8">
	<title>COMPUSHOW - Login</title>

	<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/estilo.css">
	<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/font.css">

	<link href='http://fonts.googleapis.com/css?family=Quattrocento+Sans:400,700' rel='stylesheet' type='text/css'>
	<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
	<script src="http://code.jquery.com/jquery-latest.js"></script>
	
</head>

<body>
	<img class="opaco" src="{{ STATIC_URL }}img/black.jpg">

	<div class="contenedor">

		<header>
			<img src="{{ STATIC_URL }}img/tittle.png">
		</header>

 		<section class="log_tittle">				
			
			<form action="." method="post">
              
	            {% comment %}
	            {{form.username}}
	            {{form.password}}
	            {% endcomment %}
	            	
	            {% csrf_token %}
	            {% for field in form %}
	              	{% if field.name == "Password" %}
	                    <input type="password" name="{{field.name}}" placeholder="{{field.label}}">
	                {% else %}
	                    <input type="text" name="{{field.name}}" placeholder="{{field.label}}">
	                {% endif %}
	                {{ field.errors }}
	            {% endfor %}
	            	
				<button type="submit"  class="login_input">
					login<span class="icon-keyboard-arrow-right"></span>
				</button>
				<label class="text_singup">
    			ó <a href="./signup">Regístrate<span class="icon-keyboard-arrow-right"></span> </a>
					
				</label>
			</form>
			
		</section>

		<aside class="pequeno">
			<p>
				Logeate y vota en el Compushow
			</p>
		</aside>

		<aside>
			<p>
				¡Este compushow se nos va a ir a de las manos!
				<br>
				Nomina a los computistas mas destacados
				<br>
				Logeate y participa!
				<br>	
				<hr>
				<br>
				{{ mensaje }}
			
			</p>
		</aside>

	</div>
</body>
</html>
