<!DOCTYPE html>
{% load static %}
<html lang = "en">
<head>
	<meta charset = "UFT-8">
	<title>COMPUSHOW - {% block title %}{% endblock %}</title>

	<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/estilo.css">
	<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/font.css">

	<link href='http://fonts.googleapis.com/css?family=Quattrocento+Sans:400,700' rel='stylesheet' type='text/css'>
	<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">

	<script src="http://code.jquery.com/jquery-latest.js"></script>
	<script src="{{ STATIC_URL }}js/menu.js"></script>

	
</head>

<body>
	<img class="opaco" src="{{ STATIC_URL }}img/black.jpg">

	<div class="contenedor inicio">
		<header>
			<div class="menu_bar">
				<a href="#" class="bt-menu"><span class="icon-lines"></span> <img class="peque" src="{{ STATIC_URL }}img/tittle.png"> </a>
			</div>
				<nav>
					<img class="peque" src="{{ STATIC_URL }}img/tittle.png">
					<ul align=left>
					<img class="opaco sub" src="{{ STATIC_URL }}img/black.jpg">
					
					<a href="/nominados/">
						<li class="bt-menu">TUS NOMINADOS</li>
					</a>
						
					
						<li class="submenu bt-menu bt-nominaciones">NOMINACIONES<span class="caret icon-keyboard-arrow-down"></span>
							
							<ul class="hijos">
								{% for n in nominaciones %}
									<li><a href="/{{n}}/">{{n}}</a></li>
								{% endfor %}
							</ul>
						
						</li>
						<a href="/logout/">
							<li class="bt-menu">SALIR</li>
						</a>
					</ul>
				</nav>
		</header>


 		<section class="nominacion">
			<section class="nominar">
				<span class="circular">
					{% block imagen %}
					{% endblock %}
				</span>

				<section class="navega">
					<h1 align="center">{% block Nominacion %}{% endblock %}</h1>								
				</section>


				<section class="nominado">
					<section class="desc_nominacion">
						<p>
							<br>
							{% block Descripcion %}
							{% endblock %}
						</p>
					</section>

					{% block Botones %}
					{% endblock %}
					
					<br>
					<br>
					<section class="boton">
						<a href="#">NOMINAR <span class="icon-keyboard-arrow-right"></span></a>
					</section>
				</section>
			</section>
		</section>

		<section class="nominaciones">
		<nav>
			<h1 class="titulo-side">NOMINACIONES</h1>
			{% block sidebar %}
			{% endblock %}

			
		</nav>
		
		</section>
		<footer>
			<a href="#" class="bt-footer"><span class="icon-facebook2"></span></a>
			<a href="#" class="bt-footer"><span class="icon-instagram"></span></a>
			<a href="#" class="bt-footer"><span class="icon-twitter"></span></a>
		</footer>
	</div>
</body>
