{% extends 'nominar/nominar.html' %}

{% block title %}
	{{nombre_nominacion.nombre}}
{% endblock %}

{% block js %}
	<link rel="stylesheet" href="http://code.jquery.com/ui/1.8.18/themes/base/jquery-ui.css" type="text/css" media="all" />
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js" type="text/javascript">
    </script> <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.16/jquery-ui.min.js" type="text/javascript"></script>
	<script type="text/javascript">
        $(function() {
            $("#id_nominado").autocomplete({
                source: "/api/get_computistas_nombre/",
                minLength: 2,
            });
        });
    </script>
    <script type="text/javascript">
        $(function() {
            $("#id_nominado2").autocomplete({
                source: "/api/get_computistas_nombre/",
                minLength: 2,
            });
        });
    </script>
{% endblock %}

{% block imagen %}
	<img src="{{ STATIC_URL }}img/{{nombre_nominacion.nombre}}.jpg" >	
{% endblock %}

{% block Nominacion %}
	{{nombre_nominacion.nombre}}
{% endblock %}

{% block Descripcion %}
	{{ nombre_nominacion.descripcion }}
{% endblock %}

{% block Botones %}
	<form action="/user/{{ user }}/nominacion/{{ nombre_nominacion.nombre }}/" method="post" enctype="multipart/form-data">

    <div class="ui-widget">
	{% csrf_token %}
	{{ form1 }}
    </div>
    {% if nombre_nominacion.nombre == "CompuLove" %}
    <div class="ui-widget">
        <label for="id_nominado2">Nominado:</label>
        <input id="id_nominado2"
               name="nominado2" 
               maxlength="70" 
               type="text">
    </div>
    {% endif %}
    {{ mensaje }}

	<div class="boton-file"><span class="">FOTO</span><span class="icon-keyboard-arrow-right"></span>

    {{ form2 }}
    </div> 
        

    <script type="text/javascript">
        document.getElementById('id_imagen').onchange = function () {
            var auxiliar = this.value.split("/").pop().split("\\").pop()
            document.getElementById('the_photo').innerHTML = auxiliar//auxiliar[auxiliar.length - 1]
            //document.getElementById('the_photo').innerHTML = this.value
            // $("the_photo").update(this.value);
        };
    </script>
	<div class="file_text" id="the_photo" style="">No ha selecciona foto</div>

    <button type="submit" class="nominar_button">NOMINAR<span class="icon-keyboard-arrow-right"></span></button>
    </form>
{% endblock %}

{% block sidebar %}
	{% for n in nominaciones %}
		{% if n.nombre != nombre_nominacion.nombre %}
			<li><a href="../../nominacion/{{n.nombre}}">{{n.nombre}}</a></li>
		{% else %}
			<li><a href="#" class='selected'>{{n.nombre}}</a></li>
		{% endif %}
	{% endfor %}
{% endblock %}
